@charset "UTF-8";
/* CSS Document */

/* Credit @F37® Foundry, font originally designed for the British Heart Foundation */
@import url(https://db.onlinewebfonts.com/c/fb17e4fef5f63e0e89fec4fe89602648?family=BHF+Beats+Bold);


/*  BURGER
========================================== */

.burger {
  width: 60px;
  height: 60px;
  position: fixed;
  top:vh;
  right: 5vw;
  border-radius: 4px;
  z-index: 5;
  /* background: #000; */
}

.burger span {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 60px;
  height: 8px;
  background-color: #FFF;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 20px;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before { top: -20px; }

.burger span::after { top: 20px; }

.burger.clicked span { background-color: transparent; }

.burger.clicked span::before {
  -webkit-transform: translateY(20px) rotate(45deg);
  -moz-transform: translateY(20px) rotate(45deg);
  -ms-transform: translateY(20px) rotate(45deg);
  -o-transform: translateY(20px) rotate(45deg);
  transform: translateY(20px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-20px) rotate(-45deg);
  -moz-transform: translateY(-20px) rotate(-45deg);
  -ms-transform: translateY(-20px) rotate(-45deg);
  -o-transform: translateY(-20px) rotate(-45deg);
  transform: translateY(-20px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after { background-color: #ffffff; }

.burger:hover { cursor: pointer; }

/*  NAV
========================================== */

nav {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  font-size: 40px;
  height: 100%;
  max-width: 515px;
  min-width: 100vw;
	text-align: center;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  height: 60%;
  text-align: left;
  padding-left: 30vw;
}
.main > li {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
}

nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.show ul.main li:nth-child(1) { transition-delay: 0.15s; }

nav.show ul.main li:nth-child(2) { transition-delay: 0.3s; }

nav.show ul.main li:nth-child(3) { transition-delay: 0.45s; }

nav.show ul.main li:nth-child(4) { transition-delay: 0.6s; }

nav.show ul.main li:nth-child(5) { transition-delay: 0.75s; }

nav.show ul.main li:nth-child(6) { transition-delay: 0.9s; }

nav.show ul.main li:nth-child(7) { transition-delay: 1.05s; }

nav.show ul.main li:nth-child(8) { transition-delay: 1.2s; }

nav.show ul.main li:nth-child(9) { transition-delay: 1.35s; }

nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}

.navcontent {
  width: 100%;
  padding: 100px 40px 60px 40px;
}

.navlogo {
	color: #FFF;
}

.navlogo:hover {
	opacity: 0.7;
  	filter: alpha(opacity=70);
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

@media (min-width: 667px) {

nav { padding: 120px 90px 70px 90px; }
}

nav ul.main { list-style-type: none; }

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li:last-of-type { margin-bottom: 0px; }

nav ul.main li a {
  color: #ffffff;
  font-family: 'BHF Beats Bold';
	font-style: normal;
	letter-spacing: -1px;
	text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li a span { color: #40765a; }

nav ul.main li a:hover { color: #40765a; }

/*  OVERLAY
========================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FF0004;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}