RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} !nds.acquia-psi.com$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.]+)$ $1.php [L]

# Optional: Redirect from .php URLs to pretty URLs
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[?\s] [NC]
RewriteRule ^ %1 [R=301,L]
